# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Kotlin project to Azure Function App - pip-tracker

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: pip-tracker # set this to your function app name on Azure
  JAVA_VERSION: '17' # set this to the java version to use

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup Java Sdk ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'microsoft'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build and package with Gradle
        run: ./gradlew azureFunctionsPackage

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'pip-tracker'
          package: 'build/azure-functions/pip-tracker'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_AF426404E4B142D6817B72AD08FD450E }}